<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
	<meta charset="UTF-8">
	<title>Formulario de Compra</title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	</head>
	<body>
		<header th:insert="layout/header :: header"></header>
		<div class="container mb-5">
			<div class="row">
				<div class="col-12">
					<h2 class="text-center mb-5 text-uppercase">Formulario de Compra</h2>
				</div>
				<form class="col-sm-12 col-md-9 mb-3" th:action="@{/compra/guardar}" th:method="get" th:object="${compra}">
					<div class="p-5 mx-3 border">
						<div class="form-group row">
							<label for="producto"  class="col-sm-4 col-form-label">Producto</label>
							
							<select class="col-sm-8" name="codigo">
								<option th:each="p:${productos}" th:value="${p.codigo}">
									<spam th:text="${p.nombre}"></spam>
								</option>
							</select>
							
						<!--  	<input type="text" id="producto" class="form-control col-sm-8" th:field="${compra.nombre}" placeholder="Ingresar nombre del producto" required>			-->
						</div>
						<div class="form-group row">
							<label for="cantidad" class="col-sm-4 col-form-label">Cantidad</label>
							<input type="number" id="cantidad" class="form-control col-sm-8" th:field="${compra.cantidad}" placeholder="Ingresar cantidad" required>
						
						</div>	
						<div class="d-flex justify-content-center mt-4">
				 			<button type="submit" class="btn btn-primary text-center" value="Guardar">Guardar</button>
				 		</div>
					</div>
				</form>
				<aside class="col-sm-12 col-md-3 text-center" th:insert="layout/publicidad :: aside"></aside>	
			</div>
		</div>
		
		<footer th:insert="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
	
	</body>
</html>